
                                /*BACKGROUND*/
 /* ---------------------------------------------------------------------------------*/                               
 @import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Playwrite+IT+Moderna:wght@100..400&family=Yeseva+One&display=swap" rel="stylesheet');

 
 :root {
    --cor-primaria: #1a1a1a;
    --cor-secundaria: #b1b3b3;
    --cor-terciaria: #e9e9e9a9;
    --cor-hover: #6c6d6d;

    --fonte-primaria: 'Jura', normal;
    --fonte-secundaria: 'Jura', normal;
}
 

 body {
    font-family: var(--fonte-secundaria);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-terciaria);
    
}

h1 {
    font-size: 40px; /* Tamanho dentro dos botões qualificação */
    color: var(--cor-secundaria);

}

h2 {
    font-size: 35px; /* Tamanho da fonte do título das seções */
    font-family: var(--fonte-primaria);
    color: var(--cor-secundaria);
}

h3 {
    font-size: 20px; /* Tamanho dentro dos botões qualificação */
    font-family: var(--fonte-primaria);
    color: var(--cor-secundaria);
}

h4 {
    font-size: 17px; /* Tamanho dentro dos botões qualificação  */
}

h1, p, h3, h4 {
    margin: 0; /* Remove as margens padrão para garantir o alinhamento correto */
}

 

section {
    padding: 2em;
    border-bottom: 5px solid #ffffff; /* Borda para separar as seções */
    text-align: center; /* Centralizar o texto */
}

.item {
    width: 48%; /* Dois itens por linha */
    margin-bottom: 20px;
}

/* Media queries para ajustar o layout em tamanhos menores de tela */
@media screen and (max-width: 768px) {
    .item {
        width: 100%; /* Um item por linha em telas menores */
    }
}

.container {
    width: 90%;
    margin: 0 auto; /* Centralizar o conteúdo */
    padding: 20px;
}

/* Layout flexível dentro de uma seção */
.section-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* cor do fundo dos botões */
button:hover {
    background-color: var(--cor-hover);
}
 
.botoes-container {
    display: flex; /* Torna o contêiner um flex container */
    justify-content: space-between; /* Distribui os itens horizontalmente */
    margin-bottom: 0px; /* Adiciona espaço abaixo dos botões */
    }


.botoes-container button {
    margin-right: 20px; /* Ajuste a margem conforme necessário */
    }


.certificados button.ver-certificado:hover , .cursos button.ver-certificado:hover, .project-overlay-bootcamp button.ver-projetos:hover, .project-overlay button.ver-projetos:hover  {
        background-color: var(--cor-hover);
    }

                                /*FOTO DE PERFIL E NOME */
/* ---------------------------------------------------------------------------------*/      

header {
    text-align: center;
    padding: 1em;
    display: flex; /* Utiliza um layout flexível */
    align-items: center; /* Centraliza verticalmente os itens */
    flex-direction: column; /* Coloca os itens em coluna */
    margin-top: 50px; /* Adiciona espaço acima do cabeçalho */
}

/* TAMANHO DA FOTO DE PERFIL */
header img { 
    border-radius: 50%; /* Adiciona borda arredondada à imagem */
    max-width: 300px; /* Largura máxima da imagem (dobro) */
    max-height: 300px; /* Altura máxima da imagem (dobro) */
    margin-bottom: 20px; /* Adiciona espaço abaixo da imagem */
    display: flex;
    flex-wrap: wrap;
}

                                /* TOPO COM AS ABAS DA PAGINA */
/* ---------------------------------------------------------------------------------*/ 

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    text-align: center;
    padding: 1em;
    z-index: 1000; /* Para garantir que o menu fique acima de outros elementos */
    transition: top 0.3s; /* Adiciona uma transição suave */
    border-bottom: 2px solid white; /* Adiciona uma borda branca na parte inferior */
    font-size: 20px; /* Tamanho da fonte */
}
nav a {
    color: var(--cor-secundaria);/* COR DA LETRA DO MENU */
    text-decoration: none;
    padding: 0.5em 1em;
    margin: 0 1em;
}


#navbar.hidden {
    top: -100px; /* Move o menu para cima, escondendo-o */
}



                                /* ABA MINHA HISTORIA */
/* ---------------------------------------------------------------------------------*/

#about  {
    text-align: center; /* Centraliza o texto dentro da seção */
    font-size: 18px; /* Ajusta o tamanho do texto */
    border-bottom: 5px solid #ffffff; /* Borda na parte inferior */
    padding: 2em 0; /* Adiciona padding apenas na parte superior e inferior */
}

.about-wrapper   {
    margin: 0 20%; /* Margens esquerda e direita para centralizar */
}

#about p    {
    text-align: justify; /* Alinha os parágrafos justificados */
    margin: 20px auto; /* Adiciona espaçamento entre os parágrafos e centraliza horizontalmente */
    text-indent: 1em; /* Destaca a primeira linha de cada parágrafo */
    font-size: 20px; /* Ajusta o tamanho do texto */
}



                                /* ABA QUALIFICACOES */
/* ---------------------------------------------------------------------------------*/

/* Estilo de botão ativo */
button.botao-educacional.active, 
button.botao-experiencia.active {
    background-color: var(--cor-hover);
}

.qualificacoes-container p {
    text-align: justify; /* Alinha o texto à esquerda */
}
 
/* BOTOES QUALIFICACOES */
.botao-educacional, .botao-experiencia {
    display: block;
    width: 60%;
    padding: 20px;
    margin-bottom: 40px;
    background-color: var(--cor-terciaria); /* Cor do botão */
    color: var(--cor-primaria); /* Cor do texto */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 23px;
    font-family: var(--fonte-primaria);
}
.qualificacoes-container {
    width: 40%;
    margin-top: 0px;
    margin-right: 1%;
    padding-right: 50px;
    display: inline-block;
    vertical-align: top;
    text-align: justify;
    margin-bottom: 50px;
    font-size: 20px;
}

.qualificacoes-container h3,.qualificacoes-container h4, .qualificacoes-container span, .qualificacoes-container li {
    text-align: center; /* Alinha o texto do resumo à esquerda */
}


                                /* ABA CERTIFICACOES E CURSOS */
/* ---------------------------------------------------------------------------------*/

#certificados-cursos {
    display: flex;
    flex-wrap: wrap; /* Adiciona quebra de linha conforme necessário */
    justify-content: space-around; /* Distribui os itens horizontalmente */
    margin-bottom: 50px; /* Adiciona espaço entre a seção de certificados e cursos */
}

.certificados, .cursos {
    display: flex; /* Adicionado para manter os botões e o texto alinhados verticalmente */
    flex-direction: column; /* Organiza os elementos em coluna */
    align-items: center; /* Centraliza horizontalmente */
    border: 5px solid transparent;
    border-radius: 10px;
    transition: border-color 0.3s ease;
    padding: 30px;
    margin-bottom: 20px; /* Adiciona espaço entre os certificados/cursos */
    max-width: 45%; /* Define uma largura máxima responsiva */
    flex: 1; /* Permite que os itens se expandam conforme necessário */
    text-align: center; /* Centraliza o conteúdo */
}


.certificados h3, 
.cursos h3 {
    font-size: 25px; /* Tamanho da fonte */
    margin: 0; /* Remove as margens padrão */
    margin-bottom: 30px; /* Defina o valor desejado para a margem inferior */ 
}

.certificado h4,
.curso h4 {
    font-size: 18px; /* Tamanho da fonte */
    margin-bottom: 5px; /* Adiciona espaço entre o título e o texto */
    /* Largura removida para permitir que o título seja responsivo */
}

.certificado p,
.curso p {
    margin-bottom: 30px; /* Adiciona espaço entre o texto e os botões */ 
}

    /*SETAS*/
.certificados button.cert-prev, .certificados button.cert-next, .cursos button.curso-prev, .cursos button.curso-next {
    font-size: 40px; /* Tamanho da fonte das setas */
    color: #ffffff; /* Cor das setas */
    cursor: pointer; /* Cursor do mouse em forma de mão ao passar sobre os botões */  
    border: none; /* Remove a borda dos botões */
    background-color: transparent; /* Fundo transparente para os botões */ 
    margin-right: 100px;
    margin-left: 100px;
        
        
}

.certificados button.ver-certificado, .cursos button.ver-certificado {
    font-size: 20px; /* Define o tamanho da fonte */
    padding: 10px 20px; /* Define o preenchimento interno do botão */
    background-color: var(--cor-terciaria); /* Cor do botão */
    color: var(--cor-primaria); /* Cor do texto */
    border: none; /* Remove a borda do botão */
    cursor: pointer; /* Altera o cursor ao passar sobre o botão */
    border-radius: 5px; /* Adiciona bordas arredondadas nas laterais  */
    
}

.certificados1, .cursos1 { 
    display: flex;     
}


/* FAZER A BORDA FICAR RGB */
@keyframes pulse {
    0% {
        border-color: #fff;
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }
    50% {
        border-color: #fff;
        box-shadow: 0 0 0 5px rgba(108, 124, 233, 0);
    }
    100% {
        border-color: #fff;
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

.certificados:hover,
.cursos:hover {
    animation: pulse 1s infinite;
    
}


                                /* PROJETOS */
/* ---------------------------------------------------------------------------------*/

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.project-card {
    position: relative;
    width: 20%; /* Adjust to ensure 3 cards per line with some margin */
    margin-bottom: 20px; /* Adjust as needed */
    height: 200px;
    margin: 10px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s; /* Animação suave ao passar o mouse */ 
    border: 1px solid #ddd; /* Opcional: borda para destacar os projetos */
}

 
.project-card:hover {
    transform: translateY(-10px); /* Levanta a div ao passar o mouse */
}

.project-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}



.project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
 
}

.project-card:hover .project-overlay   {
    opacity: 1;
}

.project-overlay h2 {
    margin-bottom: 10px;
    font-size: 24px;
    text-align: center;
}

.project-overlay button {
    padding: 10px 20px;
    border: none;
    background-color: #fafafa;
    color: rgb(7, 7, 7);
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5px; /* Ajuste a margem entre os botões conforme necessário */
    
}

.project-overlay button.ver-projetos {
    font-size: 15px; /* Define o tamanho da fonte */
    padding: 10px 20px; /* Define o preenchimento interno do botão */
    background-color: var(--cor-terciaria); /* Cor do botão */
    color: var(--cor-primaria); /* Cor do texto */
    border: none; /* Remove a borda do botão */
    cursor: pointer; /* Altera o cursor ao passar sobre o botão */
    border-radius: 5px; /* Adiciona bordas arredondadas nas laterais  */
    
}




 
 
                                /* ABA CONTATOS */
/* ---------------------------------------------------------------------------------*/

#contact {
    background-color: var(--cor-primaria); /* Cor do botão */
    color: var(--cor-secundaria); /* Cor do texto */
    height: 45px; /* Define a altura da seção */
}

#contact h2 {
    margin-top: -30px; /* Reduz a margem superior do título */
}




                                /* RODAPÉ */
/* ---------------------------------------------------------------------------------*/

footer {
    background-color: var(--cor-primaria); /* Cor do botão */
    color: var(--cor-secundaria); /* Cor do texto */
    text-align: center;
    padding: 1em;
} 




                                /* PROJETOS - PAGINA ANIMES */
/* ---------------------------------------------------------------------------------*/


/* Styles for the back button */
.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: var(--cor-terciaria);
    border: none;
    color: var(--cor-primaria);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px; 
}

 
                                /* PROJETOS - PAGINA BOOTCAMP */
/* ---------------------------------------------------------------------------------*/

 
.about-wrapper  li { 
    text-align: left; /* Centraliza o texto dentro da seção */ 
    
}



.project-title {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:  #855e5e;
    font-size: 24px;
    z-index: 1;
    text-align: top;
    width: 100%;
    background-color: #382929;
}   

/* Estilo para o modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--cor-primaria);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: var(--cor-primaria);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    text-align: center;
    border-radius: 8px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: var(--cor-hover);
    text-decoration: none;
    cursor: pointer;
}

.modal-button {
    background-color: var(--cor-terciaria);
    border: none;
    color: var(--cor-primaria);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.modal-button:hover {
    background-color: var(--cor-hover);
}


.project-overlay-bootcamp { 
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: white; 
    opacity: 0;
    transition: opacity 0.3s;
    display: flex ;  
    justify-content: space-evenly; /* Alinha o conteúdo centralizado */
    align-items: center;
 
}

.project-card:hover .project-overlay-bootcamp   {
    opacity: 1;
}
 
 
.project-overlay-bootcamp button.ver-projetos {
    font-size: 15px; /* Define o tamanho da fonte */
    padding: 10px 20px; /* Define o preenchimento interno do botão */
    background-color: var(--cor-terciaria); /* Cor do botão */
    color: var(--cor-primaria); /* Cor do texto */
    border: none; /* Remove a borda do botão */
    cursor: pointer; /* Altera o cursor ao passar sobre o botão */
    border-radius: 5px; /* Adiciona bordas arredondadas nas laterais  */ 
    margin: 15px; /* Ajusta a margem entre os botões conforme necessário */ 
    
}

 